*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root 
{
    --c-1 :#3e4f5a;
    --c-2 :#a2b5c2;
    --t-1 :#e4edf4;
}
body
{
    background: var(--c-2);
}
.nav-bar
{
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    background: var(--c-1);
    color: var(--t-1);
}
.nav-bar div
{
    margin: 0 50px 0 50px;
}
.nav
{
    position: relative;
    display: flex;
    padding-top: 26px;
}
.nav-bar div a
{
    text-decoration: none;
    color: var(--t-1);
    font-size: 22px;
    margin-left: 50px;
    
}

.Members h1 {
    margin-top: 100px;
    text-align: center;
}

.column{
    float: left;
    color: #ffffff;
    margin-top: 80px;
    text-align: center;
    margin-left: 10px;
    margin-right: 30px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
/*.row div
{
    border: 3px solid var(--t-1);
    border-radius: 50px;
}*/
.row div img
{
    width: 360px;
    height: 360px;
    object-fit: cover;
    overflow: hidden;
    border: 5px solid var(--c-1);
    border-radius: 50%;
}
.column.left {
    width: 30%;
    
}
.column.mid {
    width: 30%;
    
}
.column.right {
    width: 30%;
    
}


@media screen and (max-width: 1350px) {
    .column.mid,.column.right,.column.column.left,.nav-bar {
      width: 100% ;
      text-align:center ;
      margin:0px;
      padding-left:0px;
  }
}

@media screen and (max-width: 600px) {
    .column.middle,.column.right,.column.left,.nav-bar{
      width: 100% ;
      text-align:center ;
      margin:0px;
      padding:0px;
      border-right:none;
  }
  
}

