*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root 
{
    --c-1 :#3e4f5a;
    --c-2 :#a2b5c2;
    --t-1 :#e4edf4;
}
.nav-bar
{
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    background: var(--c-1);
    color: var(--t-1);
}
.nav-bar nav,div
{
    margin: 0 50px 0 50px;
}
.nav-bar nav
{
    position: relative;
    display: flex;
}
.nav-bar nav a
{
    text-decoration: none;
    color: var(--t-1);
    margin-left: 20px;
}